<div class="flex flex-col" data-controller="search">
  <header class="flex-none text-center mt-6">
    <h1 class="font-bold text-4xl">
      <%= link_to "Astronomy Picture of the Day", root_path %>
    </h1>
    <h2 class="font-bold text-xl text-gray-400">Search</h2>
  </header>

  <p class="text-sm text-gray-400 mb-1 mt-5 flex justify-center items-center">To search by date use the format:&nbsp;<strong>YYYY-MM-DD</strong>&nbsp;(e.g., 2022-04-29)</p>
  <p class="text-sm text-gray-400 -mb-1 flex justify-center items-center z-10">You can go back as early as 1995-06-20</p>

  <div class="relative w-full max-w-md mx-auto p-4 bg-white rounded-lg shadow-md">
    <form class="search-form items"
          data-action="submit->search#submitSearch">
      <div class="relative">
        <button type="submit"
                class="px-0.5 py-2 text-gray-400 rounded-r absolute left-3 top-1/2 transform -translate-y-1/2">
          <i class="fa-solid fa-magnifying-glass hover:text-gray-200"></i>
        </button>
        <input type="text"
              data-search-target="input"
              placeholder="By title, description, date or copyright..."
              autocomplete="off"
              class="w-full pr-3 pl-11 py-2 border border-gray-300 rounded outline-none focus:ring-0 hover:border-gray-400 focus:border-gray-600"/>
      </div>
    </form>
  </div>

  <div data-search-target="totalMatches" class="text-gray-600 my-7 flex self-center"></div>
  <div data-search-target="searchResults" class="mt-4 flex flex-col items-center mx-auto w-full max-w-[50%] lg:max-w-[50%] md:max-w-[60%] sm:max-w-[90%]"></div>
  <div data-search-target="pagination" class="my-7 flex justify-center items-center gap-2"></div>

</div>
