<div class="search-container"
     data-controller="search">
  <h1 class="font-bold text-4xl text-center">Search on APOD's Archive</h1>

  <form class="search-form items w-full max-w-md mx-auto p-4 bg-white rounded-lg shadow-md"
        data-action="submit->search#submitSearch">
    <input type="text"
           data-search-target="input"
           placeholder="Search by title, description or copyright..."
           autocomplete="off"
           class="w-full px-3 py-2 border rounded"/>
    <button type="submit"
            class="px-4 py-2 bg-gray-500 text-white rounded-r hover:bg-gray-600">
      Search
    </button>
  </form>

  <div data-search-target="totalMatches" class="text-gray-600 mt-4"></div>
  <div data-search-target="searchResults" class="mt-4 flex flex-col items-center mx-96"></div>
  <div data-search-target="pagination" class="mt-4 flex justify-center items-center gap-2"></div>

  <div class="flex justify-center mt-8">
    <%= link_to "Today's Picture", root_path, class:"btn ml-3" %>
    <%= link_to "Archive", archives_path, class:"btn ml-3" %>
  </div>
</div>
