<div class="search-container">
  <h1 class="font-bold text-4xl text-center">Search on APOD's Archive</h1>

  <form class="search-form items w-full max-w-md mx-auto p-4 bg-white rounded-lg shadow-md"
        data-controller="search"
        data-action="submit->search#submitSearch">
    <input type="text"
           data-search-target="input"
           placeholder="Search by title, description or copyright..."
           autocomplete="off"
           class="w-full px-3 py-2 border rounded"/>
    <button type="submit"
            class="px-4 py-2 bg-gray-500 text-white rounded-r hover:bg-gray-600">
      Search
    </button>
  </form>

  <div id="search-results" class="mt-4 items-center justify-center">
      <div class="search-result">
        <h3>NGC 1360: The Robin's Egg Nebula</h3>
        <p>This pretty nebula lies some 1,500 light-years away...</p>
        <p><small>2023-08-05</small></p>
      </div>
      <div class="search-result">
        <h3>Solstice to Solstice Solargraph</h3>
        <p>This six month long exposure compresses the time from...</p>
        <p><small>${item.date}</small></p>
      </div>
      <div class="search-result">
        <h3>Star-Forming Region RCW38</h3>
        <p>Star cluster RCW38 was hiding. This open cluster of...</p>
        <p><small>1998-12-07</small></p>
      </div>
      <div class="search-result">
        <h3>Constellations and Cloudy Skies</h3>
        <p>Recorded earlier in July, the clouds of planet Earth...</p>
        <p><small>2007-07-11</small></p>
      </div>
      <div class="search-result">
        <h3>Gaia's Milky Way</h3>
        <p>This grand allsky view of our Milky Way and nearby...</p>
        <p><small>2018-04-27</small></p>
      </div>
  </div>

  <div class="flex justify-center mt-8">
    <%= link_to "Today's Picture", root_path, class:"btn ml-3" %>
    <%= link_to "Archive", archives_path, class:"btn ml-3" %>
  </div>
</div>
