<div class="info-modal fixed inset-0 bg-black bg-opacity-50 items-center justify-center hidden opacity-0"
      data-zoom-target="infoModal"
      data-action="click->zoom#infoClose">
  <div class="child-info-modal bg-white rounded-lg max-w-md w-full p-6"
        data-zoom-target="childModal">
    <h2 class="text-xl font-bold mb-4">Acknowledgments</h2>
    <p class="text-justify">I want to extend my gratitude to NASA for providing the incredible APOD API service that makes this project
        possible. This platform was created as part of my portfolio to showcase my skills as I pursue my first role
        in software development. It marks my first experience building with an API, and I thoroughly enjoyed
        the process, learning so much along the way.
    </p>
    <p class="mt-5 text-justify">
      I sincerely thank <b>you</b> for taking the time to explore my interpretation of the
      APOD interface. Your interest and feedback mean a lot to me!
    </p>
    <div class="mt-5">
      <a href="https://github.com/seb-ssabes"
          target="_blank"
          class="flex items-center p-4 mb-5 bg-gray-100 border border-gray-200 rounded-lg hover:bg-gray-200">
        <img src="https://avatars.githubusercontent.com/u/154523391?v=4"
              alt="Github Logo"
              class="w-11 h-11 mr-4 rounded-full">
        <span class="font-medium text-gray-700">
          <h2>Sebastian Olivares</h2>
          <p>Visit my Github profile</p>
        </span>
      </a>
      <a href="https://apod.nasa.gov/apod/"
          target="_blank"
          class="flex items-center p-4 bg-gray-100 border border-gray-200 rounded-lg hover:bg-gray-200">
        <img src="https://blogs.nasa.gov/spacestation/wp-content/uploads/sites/240/2023/01/nasa-logo-web-rgb-1024x512.png"
              alt="Nasa Logo"
              class="w-12 h-12 mr-4 rounded-full object-cover">
        <span class="font-medium text-gray-700">
          <p>Explore NASA's official Astronomy Picture of the Day website</p>
        </span>
      </a>
    </div>

  </div>
</div>
